<ion-view title="NAME OF APP - Home">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <div class="card">
                <div class="item item-divider">
                    March 5, 2015
                </div>

                <div class="item item-text-wrap">
                    Some sort of sample mood feedback entry
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>