<ion-view title="Home">
    <ion-content>
        <div class="list card">
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="text" placeholder="Password">
            </label>

            <button class="button button-positive button-block" on-tap="login()">
                Log in
            </button>
        </div>
    </ion-content>
</ion-view>