<ion-view title="NAME OF APP - Log in">
    <ion-content class="padding bgc-pr">
        <div class="list mt-lg">
          <img src="img/happ-logo-12.png" class="w-1-1 mr-a ml-a d-b">

          <label class="item item-input item-stacked-label p-0 bd-n mt-xs">
                <span class="input-label">Username</span>
                <input type="text" class="p-xs d-b" value="fakeusername">
          </label>
          <label class="item item-input item-stacked-label p-0 bd-n mt-xs">
            <span class="input-label">Password</span>
            <input type="password" class="p-xs d-b" value="fakepassword">
          </label>
        </div>

        <button class="button button-full button-positive" on-tap="login()">
            Log in
        </button>
    </ion-content>
</ion-view>