
        <div class="list">
          <!-- <label class="item item-input item-stacked-label">
                <span class="input-label">Username</span>
                <input type="text" value="fakeusername">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" value="fakepassword">
          </label>
        </div> -->

        <div class="item item-divider">
            How are you feeling todayFUCK3?
        </div>

        <div class="item range range-positive">
            <i class="icon ion-sad-outline"></i>
            <input type="range" name="volume" min="1" max="10" value="5">
            <i class="icon ion-happy-outline"></i>
        </div>

        <div class="item item-divider">
            How are you feeling today?
        </div>

        FINISH