<div class="item item-divider">
    Are you having difficulty performing daily activities?
</div>

<label class="item item-radio">
    <input type="radio" name="group" ng-model="formData.difficultyPerforming" value="true">

    <div class="item-content">
        Yes
    </div>

    <i class="radio-icon ion-checkmark"></i>
</label>

<label class="item item-radio">
    <input type="radio" name="group" ng-model="formData.difficultyPerforming" value="false">

    <div class="item-content">
        No
    </div>

    <i class="radio-icon ion-checkmark"></i>
</label>

<a ng-href="/#/survey/{{timestamp}}/2" class="button button-clear button-positive">Next</a>