<ion-view title='<img src="img/happ-logo-12.png" class="w-1-4" style="margin-top: 6px">'>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button ui-sref="app.home" nav-direction="back" class="button button-clear button-positive">Back</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <form id="signup-form" ng-submit="processForm()">
            <div ui-view></div>
        </form>

        <!-- <h3>form data:</h3>
        <pre>{{formData}}</pre> -->
    </ion-content>
</ion-view>