<div class="p-xs mt-sm">
    <span class="fz-lg lh-n d-b c-ltg">It looks like you haven't walked around much lately.</span>
    <span class="fz-xl lh-n mt-xs d-b">Are you having difficulty performing daily activities?</span>
</div>

<img src="img/sad-sitting.png" class="h-1-4 pos-a" style="top: 130px; z-index: 10;" >

<div class="mt-lg">
    <label class="item item-radio bd-n">
        <input type="radio" name="group" ng-model="formData.difficultyPerforming" value="true">

        <div class="item-content bgc-tr c-w">
            Yes, I'm having difficulty
        </div>

        <i class="radio-icon ion-checkmark"></i>
    </label>
</div>

<img src="img/happy-walking.png" class="h-1-3 pos-a" style="top: 320px; right: 10px; z-index: 10;" >

<div class="mt-xl">
    <label class="item item-radio bd-n">
        <input type="radio" name="group" ng-model="formData.difficultyPerforming" value="false">

        <div class="item-content bgc-qn c-w">
            No, I'm doing well
        </div>

        <i class="radio-icon ion-checkmark"></i>
    </label>
</div>

<a ng-href="/#/survey/{{timestamp}}/2" class="button button-clear button-positive">Next</a>