<div class="item item-divider">
    How bad is your pain?
</div>

<label class="item item-radio">
    <input type="radio" name="group" ng-model="formData.painLevel" value="1">

    <div class="item-content">
        1
    </div>

    <i class="radio-icon ion-checkmark"></i>
</label>

<label class="item item-radio">
    <input type="radio" name="group" ng-model="formData.painLevel" value="2">

    <div class="item-content">
        2
    </div>

    <i class="radio-icon ion-checkmark"></i>
</label>

<label class="item item-radio">
    <input type="radio" name="group" ng-model="formData.painLevel" value="3">

    <div class="item-content">
        3
    </div>

    <i class="radio-icon ion-checkmark"></i>
</label>

<input type="submit" class="button" value="submit">