<div class="p-xs mt-sm">
    <span class="fz-lg lh-n d-b c-ltg">It looks like you haven't walked around much lately.</span>
    <span class="fz-xl lh-n mt-xs d-b">Are you having difficulty performing daily activities?</span>
</div>

<div class="mt-lg pos-r">
    <img src="img/sad-sitting.png" class="pos-a" style="width: 150px; top: -115px; left: -15px; z-index: 10;" >

    <label class="item item-radio bd-n">
        <input type="radio" name="group" ng-model="formData.difficultyPerforming" value="true">

        <div class="item-content bgc-tr c-w">
            Yes, I'm having difficulty
        </div>

        <i class="radio-icon ion-checkmark"></i>
    </label>
</div>

<div class="mt-xl pos-r">
    <img src="img/happy-walking.png" class="pos-a" style="width: 85px; top: -190px; right: 0px; z-index: 10;" >

    <label class="item item-radio bd-n">
        <input type="radio" name="group" ng-model="formData.difficultyPerforming" value="false">

        <div class="item-content bgc-qn c-w">
            No, I'm doing well
        </div>

        <i class="radio-icon ion-checkmark"></i>
    </label>
</div>

<a ng-href="/#/survey/{{timestamp}}/2" class="button button-clear button-positive">Next</a>