<div class="item item-divider">
    What is making it difficult for you?
</div>

<label class="item item-radio">
    <input type="radio" name="group" ng-model="formData.causeOfDifficulty" value="I am in pain.">

    <div class="item-content">
        I am in pain.
    </div>

    <i class="radio-icon ion-checkmark"></i>
</label>

<label class="item item-radio">
    <input type="radio" name="group" ng-model="formData.causeOfDifficulty" value="Symptoms are worse.">

    <div class="item-content">
        Symptoms are worse.
    </div>

    <i class="radio-icon ion-checkmark"></i>
</label>

<label class="item item-radio">
    <input type="radio" name="group" ng-model="formData.causeOfDifficulty" value="What's the point?">

    <div class="item-content">
        What's the point?
    </div>

    <i class="radio-icon ion-checkmark"></i>
</label>

<a ng-href="/#/survey/{{timestamp}}/3" class="button button-clear button-positive">Next</a>