/* SASS VARIABLES */

$base-spacing-unit: 48px;

$base-font-size: 1.0em;

$color-primary: #00BFFF;
$color-accent: #fcc300;
$color-tertiary: #ff6351;
$color-quaternary: #ff8773;

/* TODO: add more color variables */